@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --hover-cyan: hsl(173, 61%, 77%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --placeholder: #9ebbbd;
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: hsl(13, 70%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;

  background-color: var(--light-grayish-cyan);

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.app {
}

.tip-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8.8rem;
}

/***** Header *****/
.header {
}

.logo-container {
}

.logo {
}

.visually-hidden {
  display: none;
}

/***** Main *****/
.calculator {
  background-color: var(--white);
  width: 92rem;
  height: 48.1rem;
  box-shadow: 0 32px 43px rgba(79, 166, 175, 20.07%);
  border-radius: 2.5rem;
  padding: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 4rem;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.input-control {
}

.label-container {
  margin-bottom: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: var(--dark-grayish-cyan);
  font-size: 1.6rem;
  font-weight: bold;
}

.label.error {
  color: var(--error);
}

.input-container {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.5rem;
}

.input {
  height: 4.8rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--very-light-grayish-cyan);
  color: var(--very-dark-cyan);
  text-align: right;
  padding: 2rem;
  font: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  transition: 0.04s ease all;
  caret-color: var(--strong-cyan);
}

.input:focus,
.input:hover {
  outline: 0.3rem solid var(--strong-cyan);
  cursor: pointer;
}

.input.selected {
  outline: 0.3rem solid var(--strong-cyan);
  cursor: pointer;
}

.input::placeholder {
  color: var(--placeholder);
}

.input.error {
  outline: 0.3rem solid var(--error);
}

.tip-options-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.4rem;
  row-gap: 1.6rem;
}

.btn-tip-option {
  border-radius: 0.5rem;
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font: inherit;
  font-weight: bold;
  font-size: 2.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-tip-option.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.btn-tip-option:hover {
  background-color: var(--hover-cyan);
  color: var(--very-dark-cyan);
}

.input.custom {
  text-align: center;
  padding: 1rem;
}

.input.custom::placeholder {
  color: var(--dark-grayish-cyan);
  text-transform: capitalize;
}

/* Display */
.display {
  background-color: var(--very-dark-cyan);
  border-radius: 1.5rem;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display__top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display-info__left {
}

.display-info__title {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;
}

.display-info__unit {
  color: var(--grayish-cyan);
  font-size: 1.3rem;
  font-weight: bold;
}

.display-info__right {
}

.display-info__amount {
  color: var(--strong-cyan);
  font-size: 4.8rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.display__bottom {
}

.btn-reset {
  width: 100%;
  background-color: var(--strong-cyan);
  border: none;
  border-radius: 0.5rem;
  height: 4.8rem;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: var(--very-dark-cyan);
  cursor: pointer;
  transition: 0.3s ease all;
}

.btn-reset:hover {
  background-color: var(--hover-cyan);
}

/***** Footer *****/
.footer {
}

.attribution {
  color: var(--dark-grayish-cyan);
  font-size: 1.4rem;
  text-align: center;
}

.attribution-link:link,
.attribution-link:visited {
  color: var(--dark-grayish-cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--dark-grayish-cyan);
  transition: all 0.3s ease;
}

.attribution-link:hover,
.attribution-link:active {
  color: var(--very-dark-cyan);
  border-bottom: none;
  font-weight: 700;
}

/* 940px / 16px = 58.75em */
@media (max-width: 58.75em) {
  .app {
    padding: 2rem 0;
  }

  .tip-calculator {
    gap: 4.1rem;
  }

  .calculator {
    width: 37.5rem;
    height: 78.9rem;

    padding: 3.2rem;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3.2rem;
  }

  .form {
    gap: 3.2rem;
  }

  .tip-options-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1.7rem;
  }

  .display {
    padding: 3.2rem;
  }

  .display-info__amount {
    font-size: 3.2rem;
    letter-spacing: -0.67px;
  }
}
